<div class="wrapper">

  <div class="main_container">
    <div class="item">

    <!-- Main content -->


        <!-- Small boxes (Stat box) -->
      <div class="container col-lg-4">



            <br>
          <form class="form-group">

            <label *ngIf="isreset()"  >login:</label>


            <br>
            <input *ngIf="isreset()"  type="text" class="form-control" [(ngModel)]="login" id="login" placeholder="Enter email valide "
                   name="login">

            <br>

            <label *ngIf="isreset()"  >Email:</label>


            <br>
            <input *ngIf="isreset()"  type="email" class="form-control" [(ngModel)]="email2" id="email2" placeholder="Enter email valide "
                   name="email2">

            <br>
            <button *ngIf="isreset()" (click)=reset(email2,login) class="btn btn-info" >Cofirmer </button>


              <br>
              <label *ngIf="issaveupdate()" >login :</label>
            <label *ngIf="ischange()" >Your Password :</label>
              <br><br>

              <input *ngIf="issave()" type="text" class="form-control" [(ngModel)]="usernam"    id="usernam"  name="usernam" placeholder="Enter User Name"
                     autocomplete="off" >
              <input *ngIf="isupdate()" type="text" class="form-control" [(ngModel)]="usernam"     id="usernam"  name="usernam "  value=this.deletService.user
                           >
            <input *ngIf="ischange()" type="password" class="form-control" [(ngModel)]="pass1"     id="pass1"  name="pass1 "  value=this.deletService.user
            >


            <br>

              <label   *ngIf="issaveupdate()"   >Password:</label>
            <label *ngIf="ischange()" > New Password:</label>

              <br><br>

              <input *ngIf="issave()"  type="password" class="form-control"  [(ngModel)]="passwor"  id ="passwor"  name ="passwor" placeholder="Enter password"
                 >
              <input  *ngIf="isupdate()"  type="password" class="form-control"  [(ngModel)]="passwor"  value={{this.deletService.pass}} id ="passwor"  name ="passwor"
                  >
            <input  *ngIf="ischange()"  type="password" class="form-control"  [(ngModel)]="pass2"  value={{this.deletService.pass}} id ="pass2"  name ="pass2"
            >


            <br>

              <label *ngIf="issave()"  >Email:</label>

              <br><br>
              <input *ngIf="issave()"  type="email" class="form-control" [(ngModel)]="email" id="email" placeholder="Enter email valide "
                      name="email">

            <br>
            <br>


            <button *ngIf="issave()" (click)=save() class="btn btn-info" >Save </button>
              <button *ngIf="isupdate()" (click)=update(this.deletService.id,usernam,passwor)  class="btn btn-info" >Update </button>
            <button *ngIf="ischange()" (click)=Change(pass1,pass2)  class="btn btn-info" >OK </button>

          </form>




    <!-- /.card -->

        <!-- right col -->
      </div>
  </div>
</div>
      <!-- /.row (main row) -->

</div>
