<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $(document).ready(function(){
    $(".hamburger").click(function(){
      $(".wrapper").toggleClass("collapse");
    });
  });
</script>

<div class="wrapper">

  <app-slidemenu></app-slidemenu>
  <div class="main_container">
    <div class="item">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="fonrecri"   class = "text-capitalize"  class = "text-center">Le bénefice  des départements  </h2>
          <br><br>
        </div>
        <div class="panel-body">

         
          <br><br>
          <table  class="table">
            <thead class="thead-dark">
             <tr>
                  <th  scope="col">Nom de département</th>
                  <th  scope="col">Bénéfice</th>
                  <th  scope="col">Budget</th>
                  <th  scope="col">Pourcentage </th>
                  <th  scope="col">save</th>
                  <th  scope="col">Equipes</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let departement of departements | async">

                  <td class="h5">{{departement.nom_depar}}</td>
                  <td class="h5"> {{get(departement.id)}}  </td>

                  <td class="h5">
                    <input type="text" [(ngModel)]="arr[departement.id]" name="montant_budget" id="montant_budget">
                  </td>
                  <div *ngIf="getbudgetDepartement(departement.id)==null;then exist else notexist"></div>


                  <ng-template  #notexist >
                    <td>  {{budgetdepartement[departement.id].pourcentage * 100 |number:'0.2' }} % </td>
                  </ng-template>
                  <ng-template #exist>
                    <td> 0 </td>

                  </ng-template>
                  <td class="h5">
                    <button   (click)="save(departement.id,arr[departement.id])" class="btn btn-info"                                        style="margin-left: 10px">save</button>
                  </td>

                  <td class="h5">
                    <button (click)="getequipes(departement.id)" class="btn btn-info" style="margin-left: 10px">  <i class="fa fa-address-book"></i>Details</button>
                  </td>

                </tr>
            </tbody>

          </table>
        </div>
      </div>



    </div>



  </div>

</div>

