<div class="wrapper">
  <app-slidemenu></app-slidemenu>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">

            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">

        <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="fonrecri"   class = "text-center" >L'historiques des primes </h2>
          <br><br>
        </div>

        <div class="panel-body">
          <table  class="table">
            <thead class="thead-dark">
            <tr>
              <th scope="col" >Montant</th>
              <th scope="col"> Salarié  </th>
              <th scope="col" > Prime Maximale </th>
              <th scope="col" > Prime Manager</th>
              <th scope="col" > Prime DG</th>
              <th scope="col" > Prime Finale</th>
              <th scope="col" >Date demande</th>
              <th scope="col">Date de validation</th>
              <th scope="col">Etats</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let demande of demandes | async">
              <td class="h5" >{{demande.montant_net}}</td>
              <td class="h5" >{{demande.salarie.nom_salarie}}  {{demande.salarie.prenom_salarie}}</td>
              <td class="h5" >{{demande.prime_maximale|number:'0.2'}}</td>
              <td class="h5" >{{demande.prime_manager}}</td>
              <td class="h5" >{{demande.prime_pdg}} </td>
              <td class="h5" >{{demande.prime_finale }} </td>
              <td class="h5" >{{demande.date_debut | date }}</td>
              <td class="h5" >{{demande.date_fin | date  }}</td>
                <td class="h5" >
<button (click)="getetats(demande.id)" class="btn btn-info" style="margin-left: 10px">  <i class="fa fa-address-book"></i>Details</button>
             </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- /.card -->

    <!-- right col -->
  </div>
  <!-- /.row (main row) -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
  <strong>Copyright &copy; 2014-2020 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 3.1.0-pre
  </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->



