
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				<form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-32">
						Account Login
					</span>

					<span *ngIf="isreset()" class="txt1 p-b-11">
						Username
					</span>
		<div class="wrap-input100  validate-input m-b-36" data-validate = "Username is required">
	<input *ngIf="isreset()" class="input100" [(ngModel)]="login" id="login" placeholder="Enter email valide "
                   name="login" >
						<span class="focus-input100"></span>
					</div>
					
					<span *ngIf="isreset()" class="txt1 p-b-11">
						Password
					</span>
					<div *ngIf="isreset()" class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
						<input class="input100" type="Email" name="password"  [(ngModel)]="password" id="password">
						<span class="focus-input100"></span>
					</div>
					
					<div class="flex-sb-m w-full p-b-48">
						

						<div>
							<a  class="txt3" (click)=resetpass() >
								Forgot Password?
							</a>

                                                        <div   *ngIf="isreset()" class = "align-content-center">

                                                       <app-list-demande> </app-list-demande>
                                                        </div>
						</div>
					</div>

                         <div  *ngIf='invalidLogin'>{{errorMessage}}</div>
                         <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>

                                                <br> <br>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn" (click)=handleLogin()>
							Login
						</button>
					</div>

                                
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	